<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tic tac toe</title>
        <style>
            body {
                box-sizing: content-box;
            }
            table {
                margin-left: auto;
                margin-right: auto;
                border-collapse: collapse;
            }
            td {
                border: 1px solid black;
                height: 150px;
                width: 150px;
                text-align: center;
    }
        </style>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>